PORT=your-port-for-local-development
DATABASE_URL=mongodb-uri-link
BCRYPT_SALT_ROUNDS=10

# Testing purpose
# For Clearing all test data
# from Database
FLUSH_DB_SECRET=458b73100ec8 

# Testing purpose
# Could be anything
JWT_ACCESS_TOKEN=hgad34sfk3847uadsf
