# PORT=your-port-for-local-development
DATABASE_URL=mongodb-uri-link
BCRYPT_SALT_ROUNDS=10
GOOGLE_GEMINI_API_KEY=your-gemini-api-key

FRONT_END_LINK=your-frontend-deployed-link

# Testing purpose
# For Clearing all test data
# from Database
FLUSH_DB_SECRET=your-key-could-be-any

# Testing purpose
# Could be anything
JWT_ACCESS_TOKEN=your-key-could-be-any

# Redis Related
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=

